<!-- Main content -->
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Bienvenidos a Tienda Puente Mágico</h1>
            <p class="lead">Descubre nuestra variedad en artículos de librería, impresión y herramientas de oficina. Personaliza tus proyectos y organiza tu espacio con nuestros productos de alta calidad.</p>
        </div>
    </div>
    <div class="row mt-4">
        <!-- Sección de Papelería -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/images/libreria2.webp" class="card-img-top" alt="Papelería">
                <div class="card-body">
                    <h5 class="card-title">Papelería</h5>
                    <p class="card-text">Cuadernos, libretas y agendas.</p>
                    <a routerLink="/product-catalog" class="btn btn-primary">Ver Catálogo</a>
                </div>
            </div>
        </div>
        
        <!-- Sección de Material de Oficina -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/images/libreria2.webp" class="card-img-top" alt="Material de Oficina">
                <div class="card-body">
                    <h5 class="card-title">Material de Oficina</h5>
                    <p class="card-text">Artículos de escritorio, organizadores, lápices, archivadores y mucho más.</p>
                    <a routerLink="/product-catalog" class="btn btn-primary">Ver Catálogo</a>
                </div>
            </div>
        </div>
        
        <!-- Sección de Tecnología de Impresión -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/images/libreria2.webp" class="card-img-top" alt="Impresión y Sublimación">
                <div class="card-body">
                    <h5 class="card-title">Impresión</h5>
                    <p class="card-text">Articulos de impresión, tintas y papeles.</p>
                    <a routerLink="/product-catalog" class="btn btn-primary">Ver Catálogo</a>
                </div>
            </div>
        </div>
        
        <!-- Sección de Mochilas y Accesorios -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/images/libreria2.webp" class="card-img-top" alt="Mochilas y Accesorios">
                <div class="card-body">
                    <h5 class="card-title">Mochilas y Accesorios</h5>
                    <p class="card-text">Mochilas, estuches, maletines y accesorios para la oficina y el estudio.</p>
                    <a routerLink="/product-catalog" class="btn btn-primary">Ver Catálogo</a>
                </div>
            </div>
        </div>
        
        <!-- Sección de Regalos Corporativos -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/images/libreria2.webp" class="card-img-top" alt="Regalos Corporativos">
                <div class="card-body">
                    <h5 class="card-title">Regalos Corporativos</h5>
                    <p class="card-text">Regalos personalizados para empresas, con opciones de grabado y estampado.</p>
                    <a routerLink="/product-catalog" class="btn btn-primary">Ver Catálogo</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Loading Screen -->
<div id="loading-screen" class="d-flex justify-content-center align-items-center">
    <div class="loader"></div>
</div>