<main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h1>Bienvenidos a Tienda Puente Mágico</h1>
        <p class="lead">
          Descubre nuestra variedad en artículos de librería, impresión y herramientas de oficina. Personaliza tus proyectos y organiza tu espacio con nuestros productos de alta calidad.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div *ngFor="let product of productsByCategory" class="col-md-4 mb-4">
        <div class="card">
          <img [src]="product.imagenProducto" class="card-img-top" [alt]="product.nombreCategoria" />
          <div class="card-body">
            <h5 class="card-title">{{ product.nombreCategoria }}</h5>
            <p class="card-text">{{ product.descripcionCategoria }}</p>
            <a
              [routerLink]="['/product-catalog']"
              [queryParams]="{ filter: product.nombreCategoria }"
              class="btn btn-primary"
              >Ver {{ product.nombreCategoria }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <!-- Loading Screen -->
  <div id="loading-screen" class="d-flex justify-content-center align-items-center">
    <div class="loader"></div>
  </div>