<!-- Main content -->
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Cerrar sesión exitosamente</h2>
            <p class="lead">Has cerrado tu sesión correctamente.</p>
            <a routerLink="/login" class="btn btn-primary">Iniciar Sesión</a>
            <p></p>
            <a routerLink="/home" class="btn btn-secondary">Ir a Home</a>
        </div>
    </div>
</main>

<!-- Loading Screen -->
<div id="loading-screen" class="d-flex justify-content-center align-items-center">
    <div class="loader"></div>
</div>