<!-- Main content -->
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Recuperar Contraseña</h2>
            <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email">
                    <div *ngIf="recoverPasswordForm.get('email')?.invalid && recoverPasswordForm.get('email')?.touched" class="text-danger">
                        <small *ngIf="recoverPasswordForm.get('email')?.errors?.['required']">Correo Electrónico es obligatorio.</small>
                        <small *ngIf="recoverPasswordForm.get('email')?.errors?.['email']">Formato de correo electrónico incorrecto.</small>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" [disabled]="recoverPasswordForm.invalid">Recuperar Contraseña</button>
            </form>

        </div>
    </div>
</main>

<!-- Loading Screen -->
<div id="loading-screen" class="d-flex justify-content-center align-items-center">
    <div class="loader"></div>
</div>
